@charset "utf-8";


body{
    background-color: rgb(218, 90, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px;

 }
 h1{
     color: rgb(209, 206, 30);
     
 }
 h2{
     color: rgb(70, 15, 121);
     background-color: lawngreen;
 }
 p{
     color: blue;
     font-family: 'Times New Roman', Times, serif;
     text-align: justify;
     background-color: gainsboro;
     
     
     
 }